<div [class.overlay]="loading" [class.spinner]="loading" (click)="$event.stopPropagation();"></div>
<div class="box">
  <h1>
    Registration
  </h1>
  <div style="color: red;" *ngIf="errorMessage != ''">{{errorMessage}}</div>

  Name<span style="color: red;">*</span> :
  <div style="color: red;" *ngIf="errorMsg.name != ''">{{errorMsg.name}}</div>
  <input type="text" (input)="nameCheck();" [(ngModel)]="user.name" placeholder="Your name" />

  Email<span style="color: red;">*</span> :
  <div style="color: red;" *ngIf="errorMsg.email != ''">{{errorMsg.email}}</div>
  <input type="email" (input)="emailCheck();" [(ngModel)]="user.email" placeholder="Your email" />

  <!-- User Name:
      <input type="text" placeholder="Choose an user name"/> -->

  Password<span style="color: red;">*</span> :
  <div style="color: red;" *ngIf="errorMsg.password != ''">{{errorMsg.password}}</div>
  <input type="password" (input)="passwordCheck();" [(ngModel)]="password" placeholder="Password" />
  <div style="color: red;" *ngIf="errorMsg.confPassword != ''">{{errorMsg.confPassword}}</div>
  <input type="password" (input)="confPasswordCheck();" [(ngModel)]="confPassword" placeholder="Confirm password" />

  <input
    [class.disabled]="user.password == '' || user.email == '' || user.name == '' || emailChange"
    class="submit" type="submit" (click)="register();" value="Register" />

  <div class="bottom">
    Already have an Account? <a routerLink="/">Login</a>
  </div>
</div>